<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Inventory Helper Practice</title>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" />
</head>
<body>
    <div class="Container">
        <h1>Inventory Helper <small>practice version</small></h1>
        <hr />
        <div class="Container viewOne">
        <button class="btn" onclick="return false">Edit Coffees</button>
        <button class="btn" onclick="return false">Edit Containers</button>
            <!-- Main View Template -->
            <form class="form-inline">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Coffee</td>
                            <td>Green</td>
                            <td>Roasted</td>
                            <td>Total</td>
                        </tr>
                    </thead>
                    <tbody class="viewModels" data-bind="collection:$collection">
                    </tbody>
                    <tbody>
                         <tr>
                            <td>Total:</td>
                            <td><span class="totalGreen">0.00</span></td>
                            <td><span class="totalRoasted">0.00</span></td>
                            <td><span class="total">0.00</span></td>
                        </tr>   
                    </tbody>
                </table>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Blend</td>
                            <td>Weight</td>
                        </tr>
                    </thead>
                    <tbody class="blendModels" data-bind="collection:$collection">
                    </tbody>
                    <tbody>
                        <tr>
                            <td>Total:</td>
                            <td><span class="blendTotal">0.00</span></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="//cdn.jsdelivr.net/backbone.epoxy/1.2/backbone.epoxy.min.js"></script>
    
    <!-- Calculator Template -->
    
    <script type="text/template" id="calcTemplate">
        <td>
        <div class="container">
            <p><%= calcModel.get("name") %></p>
            <button class="btn addRow" onclick="return false">Add Row</button>
            <button class="btn btn-danger deleteRow" onclick="return false">Delete</button>
            <label>Gross Weight:</label>
            <input type="text" class="calcGross" />
            <button class="btn btn-danger clearTare" onclick="return false">Reset</button>
            <% var contList = calcModel.get("containers");
            _.each(contList.models, function(num) { %>
                <button class="btn tareButton" onclick="return false" value="<%= num.get('weight') %>"><%= num.get("name") %></button>
            <% }); %>
        </div>
        </td>
    </script>

    
    <!-- Main MVC Script -->
    
    <script>
    var Router = Backbone.Router.extend({
        routes: {
            '': 'home'
        }
    });
        
    var router = new Router();
    router.on('route:home', function() {
        console.log("We have loaded the homepage!");
    }); 
    
    //declare global tare utility function that maintains access to the original value
    var tare = function(gross) {
        var original = gross;
        return {
            taredVal: function(tare) {
               return (gross >= tare) ? (gross - tare) : 0;
            },
            originalVal: function() {
                return original;
            }
        };
    };
    
    //begin Backbone history
    Backbone.history.start();
    
    var Coffee = Backbone.Model.extend({
        defaults: {
            name: "New Coffee",
            origin: "Origin",
            greenWeight: "0.00",
            roastedWeight: "0.00",
            totalWeight: "0.00",
        },
        initialize: function() {
            console.log("New coffee model created: " + this.get("name"));
            this.on("change", function(model) {
                var changedTotal = parseFloat(model.get("greenWeight")) + parseFloat(model.get("roastedWeight"));
                model.set("totalWeight", changedTotal.toFixed(2));
            });
        }
    });
    
    var Blend = Backbone.Model.extend({
        defaults: {
            name: "New Blend",
            weight: "0.00"
        }
    });
    
    var Container = Backbone.Model.extend({
        defaults: {
            name: "New Container",
            weight: "0.00"
        }
    });
    
    //establish data source for coffee collection
    var Coffees = Backbone.Collection.extend({
        url: '/pracjsonfactory.js',
        model: Coffee
    });
    
    //establish data source for coffee blends collection
    var Blends = Backbone.Collection.extend({
        url: '/blendfactory.js',
        model: Blend
    });
    
    //establish data source for inventory container collection
    var Containers = Backbone.Collection.extend({
        url: '/containerfactory.js',
        model: Container
    });
    
    //backbone view for calculator panel
    var CalculatorView = Backbone.View.extend({
        tagName: "tr",
        
        runningTotal: 0.00,
        
        //initialize function with parent view's scope and calculate subtotal
        initialize: function(parent) {
            console.log(this.events);
            console.log(this.$el);
            var containers = new Containers();
            
            //pass down scope from parent view
            this.currentView = parent; 
            var calcPanelTarget = "<tr><td colspan='4'><table class='calcPanelTable'>" +
                "<tr><td colspan='4'>Running Total: <span class='calcTotal'>0.00</span>" +
                "<button class='btn done' onclick='return false'>Done</button>" + 
                "<button class='btn cancel' onclick='return false'>Cancel</button></td></tr>" +
                "</table></td></tr>";
            this.$el.after(calcPanelTarget);
            this.setElement($(".calcPanelTable"));
            var self = this;
            
            //fetch updated list of containers before rendering panel
            containers.fetch().done(function() {
                
                //attach list of containers to coffee item model
                self.currentView.model.set("containers", containers);
                self.calcPanel = _.template($("#calcTemplate").html(), {calcModel: self.currentView.model});
                self.$el.append(self.calcPanel);
                
                //delegate events inside fetch completion callback to ensure proper binding
                self.delegateEvents({
                    "click .tareButton": "tare",
                    "click .addRow": "append",
                    "click .deleteRow": "delete",
                    "click .clearTare": "clearTare",
                    "change .calcGross": "updateTare",
                    "click .done": "returnPanel",
                    "click .cancel": "cancelPanel"
                });
                console.log(self.$el);
                console.log(self.events);
                return self;
            });    
        },
        //append additional rows
        append: function() {
            //add new row using calculator template
            this.$el.append("<tr class='newRow'>" + this.calcPanel + "</tr>");    
        },
        tare: function(event) {
            console.log("you hit the tare button");
            $(event.currentTarget).addClass("btn-danger");
            $(event.currentTarget).siblings(".tareButton").removeClass("btn-danger");
            var currentInput = $(event.currentTarget).siblings(".calcGross");
            console.log(currentInput);
            var tareWeight = parseFloat(event.currentTarget.value);
            
            //get tared weight from tare function attached to associated input field
            var taredInput = currentInput.data("tareFunction").taredVal(tareWeight);
            currentInput.val(taredInput);
            this.updateRunningTotal();
        },
        updateTare: function(event) {
            var value = event.currentTarget.value;
            //attach tare function to input field as a data object
            $(event.currentTarget).data("tareFunction", tare(value));
            this.updateRunningTotal();
        },
        clearTare: function(event) {
            var currentInput = $(event.currentTarget).siblings(".calcGross");
            var original = currentInput.data("tareFunction").originalVal;
            currentInput.val(original);
            this.updateRunningTotal();
        },
        delete: function(event) {
            console.log("Delete this row");
            var rowToDelete = $(event.currentTarget).closest(".newRow");
            $(rowToDelete).remove();
        },
        returnPanel: function() {
            
            //set correct weight of passed-in view's model based on which button pressed
            switch (this.currentView.buttonValue) {
                case "green":
                    this.currentView.model.set("greenWeight", this.runningTotal.toFixed(2));
                    break;
                case "roasted":
                    this.currentView.model.set("roastedWeight", this.runningTotal.toFixed(2));
                    break;
                case "blend":
                    this.currentView.model.set("weight", this.runningTotal.toFixed(2));
                    break;
                default:
                    return 0;
            }
            console.log(this.currentView.buttonValue + ": " + this.runningTotal);
            
            //set element to parent row associated with view element
            this.setElement(this.$el.closest('tr'));
            this.remove();
        },
        cancelPanel: function() {
            //set element to parent row associated with view element
            this.setElement(this.$el.closest('tr'));
            this.remove();
        },
        updateRunningTotal: function() {
            
            this.runningTotal = 0.00;
            var that = this;
            
            //update running total of all rows
            this.$el.find(".calcGross").each(function() {
                that.runningTotal += parseFloat(this.value);
                console.log(that.runningTotal);
            });
            $(".calcTotal").text(this.runningTotal.toFixed(2));
        }
    });
    
    //epoxy item view for each coffee model
    var coffeeItemView = Backbone.Epoxy.View.extend({
        tagName: "tr",
        
        bindings: {
            "input.green": "value:greenWeight,events:['keyup']",
            "input.roasted": "value:roastedWeight,events:['keyup']",
            "span.rowTotal": "text:totalWeight,events:['keyup']"
        },
        
        events: {
            "click button.calculate": "renderCalculator"
        },
        
        initialize: function() {
            var name = this.model.get("name");
            var output = "<td>" + name + "</td>" +
                "<td><input type='text' class='green'/><button class='btn calculate' value='green' onclick='return false'>Calculate</button></td>" +
                "<td><input type='text' class='roasted'/><button class='btn calculate' value='roasted' onclick='return false'>Calculate</button></td>" +
                "<td><span class='rowTotal'></span></td>";
            this.$el.append(output);
            console.log("Row Added.");
        },
        
        //open calculator panel
        renderCalculator: function(event) {
            //initialize calculator view, passing it the scope of the current coffee item view as an argument
            this.buttonValue = event.currentTarget.value;
            var calculatorView = new CalculatorView(this);
        }
    });
    
    var blendItemView = Backbone.Epoxy.View.extend({
        tagName: "tr",
        
        bindings: {
            "input.blend": "value:weight,events:['keyup']"
        },
        
        events: {
            "click button.calculate": "renderCalculator"
        },
        
        initialize: function() {
            var name = this.model.get("name");
            var output = "<td>" + name + "</td>" +
                "<td><input type='text' class='blend'/><button class='btn calculate' value='blend' onclick='return false'>Calculate</button></td>";
            this.$el.append(output);
            console.log("Row Added.");
        }, 
        
        //open calculator panel
        renderCalculator: function(event) {
            //initialize calculator view, passing it the scope of the current coffee item view as an argument
            this.buttonValue = event.currentTarget.value;
            var calculatorView = new CalculatorView(this);
        }
    });
    
    //epoxy collection view for all coffee models
    var CoffeeList = Backbone.Epoxy.View.extend({
        
        el: "tbody.viewModels",
        
        collection: new Coffees(),
        
        itemView: coffeeItemView,
        
        initialize: function() {
            this.collection.fetch();
            var that = this;
            this.collection.on("change", function() {
                console.log("collection changed.");
                that.updateTotals();
            });
        },
        events: {
            "mouseover input": "consoleThis"
        },
        
        //update vertical totals
        updateTotals: function() {
            var greenTotal = 0.00, roastedTotal = 0.00, total = 0.00;
             $('input.green').each(function() {
                greenTotal+= parseFloat(this.value);
                console.log(typeof(greenTotal) + ": " + greenTotal);
            });
            $('input.roasted').each(function() {
                roastedTotal+= parseFloat(this.value);
            });
            total = greenTotal + roastedTotal;
            $('span.totalGreen').text(greenTotal.toFixed(2));
            $('span.totalRoasted').text(roastedTotal.toFixed(2));
            $('span.total').text(total.toFixed(2)); 
            console.log(greenTotal + " + " + roastedTotal + " = " + total);
        },
        //Console Log the current target of the "event" object returned when a mouseover input event occurs.
        consoleThis: function(event) {
            var thisField = $(event.currentTarget);
            console.log('You moused over ' + thisField.val());
        }

    });
    
    //epoxy collection view for all blends
    var BlendList = Backbone.Epoxy.View.extend({
        
        el: "tbody.blendModels",
        
        collection: new Blends(),
        
        itemView: blendItemView,
        
        initialize: function() {
            this.collection.fetch();
        },
        
        events: {
            "keyup input": "updateTotals",
            "change input": "updateTotals"
        },
        
        updateTotals: function() {
            var total = 0.00;
            $("input.blend").each(function() {
                total+= parseFloat(this.value);
            });
            $("span.blendTotal").text(total.toFixed(2));
        }
        
    })
    //generate coffees list
    var coffeeList = new CoffeeList();
    
    //generate blends list
    var blendList = new BlendList();
    
    </script>
</body>
</html>