<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Inventory Helper Practice</title>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" />
</head>
<body>
    <div class="Container">
        <h1>Inventory Helper <small>practice version</small></h1>
        <hr />
        <div class="Container viewOne">
        </div>
    </div>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="//cdn.jsdelivr.net/backbone.epoxy/1.2/backbone.epoxy.min.js"></script>
    
    <!-- Main View Template -->

    <script type="text/template" id="pracTemplate1">
        <form class="form-inline">
            <table class="table striped">
                <thead>
                    <tr>
                        <td>Coffee</td>
                        <td>Green</td>
                        <td>Roasted</td>
                        <td>Total</td>
                    </tr>
                </thead>
                <tbody>
                    <% _.each(coffees, function(coffee) { %>
                    <tr>
                        <td><%= coffee.get('name') %></td>
                        <td>
                            <input type="text" class="form-control green <%= coffee.get('id') %>" value="<%= coffee.get('greenWeight') %>" />
                            <button class="btn calculate" onclick="return false">Calculate</button>
                        </td>
                        <td>
                            <input type="text" class="form-control roasted <%= coffee.get('id') %>" value="<%= coffee.get('roastedWeight') %>" />
                            <button class="btn calculate" onclick="return false">Calculate</button>
                        </td>
                        <td><span class="rowTotal">0.00</span></td>
                    </tr>
                    <% }); %>
                    <tr>
                        <td>Total:</td>
                        <td><span class="totalGreen">0.00</span></td>
                        <td><span class="totalRoasted">0.00</span></td>
                        <td><span class="total">0.00</span></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </script>
    
    <!-- Calculator Template -->
    
    <script type="text/template" id="calcTemplate">
        
    </script>
    
    <!-- Main MVC Script -->
    
    <script>
    var Router = Backbone.Router.extend({
        routes: {
            '': 'home'
        }
    });
        
    var router = new Router();
    router.on('route:home', function() {
        console.log("We have loaded the homepage!");
    }); 
    
    Backbone.history.start();
    
    var Coffee = Backbone.Model.extend({
        defaults: {
            name: "New Coffee",
            origin: "Origin",
            greenWeight: "0.00",
            roastedWeight: "0.00"
        },
        initialize: function() {
            console.log("New coffee model created: " + this.get("name"));
        }
    });
    
    var Coffees = Backbone.Collection.extend({
        url: '//c9.io/beaudavenport/apipractice/workspace/pracjsonfactory.js',
        model: Coffee
    });
    
    var coffees = new Coffees();
    
    var CoffeeList = Backbone.View.extend({
        el: ".viewOne",
        render: function() {
            var that = this;
            coffees.fetch({
                success: function(coffees) {
                    var markup = _.template($('#pracTemplate1').html(), {coffees: coffees.models});
                    that.$el.html(markup); 
                }
            });
        },
        events: {
            "mouseover input": "consoleThis",
            "change .form-control": "updateTotal",
            "click button.calculate": "renderCalculator"
        },
        //Console Log the current target of the "event" object returned when a mouseover input event occurs.
        consoleThis: function(event) {
            var thisField = $(event.currentTarget);
            console.log('You moused over ' + thisField.val());
        },
        //Update all columns and rows and display changes
        updateTotal: function(event) {
            var greenTotal = 0.00;
            var roastedTotal = 0.00;
            var total = 0.00;
            var currentTarget = $(event.currentTarget);
            var modelField;
            
            //get this model
            var thisModel = coffees.get()
            currentTarget.hasClass("green") ? modelField = "greenWeight" : modelField = "roastedWeight";
            currentTarget.model.set({field: currentTarget.value});
            console.log(this.model.get(modelField));
            $('.viewOne input.green').each(function() {
                greenTotal+= parseFloat(this.value);
                console.log(typeof(greenTotal) + ": " + greenTotal);
            });
            $('.viewOne input.roasted').each(function() {
                roastedTotal+= parseFloat(this.value);
            });
            total = greenTotal + roastedTotal;
            $('.viewOne .totalGreen').text(greenTotal.toFixed(2));
            $('.viewOne .totalRoasted').text(roastedTotal.toFixed(2));
            $('.total').text(total.toFixed(2)); 
            console.log(2 + 2);
        },
        //Launch calculator view
        renderCalculator: function(event) {
            console.log("Launch Calculator View for model: ");
        }

    });
    
    var coffeeList = new CoffeeList();
    coffeeList.render();
    
    </script>
</body>
</html>