
<!-- Main View Template -->
    
<script type="text/template" id="mainForm">
    <form class="form-inline">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Coffee</td>
                    <td>Green</td>
                    <td>Roasted</td>
                    <td>Total</td>
                </tr>
            </thead>
            <tbody class="viewModels">
                <tr class="placeHolder">
                    <td colspan="4">
                        <div class="container text-center">
                            <span class="glyphicon glyphicon-refresh"></span>
                            <p>Loading...</p>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody>
                 <tr>
                    <td>Total:</td>
                    <td><span class="totalGreen">0.00</span></td>
                    <td><span class="totalRoasted">0.00</span></td>
                    <td><span class="total">0.00</span></td>
                </tr>   
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Blend</td>
                    <td>Weight</td>
                </tr>
            </thead>
            <tbody class="blendModels">
                <tr class="placeHolder">
                    <td colspan="2">
                        <div class="container text-center">
                            <span class="glyphicon glyphicon-refresh"></span>
                            <p>Loading...</p>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>Total:</td>
                    <td><span class="blendTotal">0.00</span></td>
                </tr>
            </tbody>
        </table>
    </form>
</script>

<!-- Calculator Panel Template -->

<script type="text/template" id="panelTemplate">
    <td colspan='4'>
        <div>
            Running Total: <span class='calcTotal'>0.00</span>
            <button type='button' class='btn addRow' onclick='return false'>New Row</button>
            <button type='button' class='btn done' onclick='return false'>Done</button> 
            <button type='button' class='btn cancel' onclick='return false'>Cancel</button>
        </div>
    </td>
</script>

<!-- Calculator Row Template -->

<script type="text/template" id="calcTemplate">
    <div class="well container">
        <p><%= calcModel.get("name") %></p>
        <button type="button" class="btn btn-danger deleteRow" onclick="return false">Delete</button>
        <label>Gross Weight:</label>
        <input type="text" class="calcGross" size="8"/>
        <button type="button" class="btn btn-info clearTare" onclick="return false">No Tare</button>
        <% var contList = calcModel.get("containers");
        _.each(contList.models, function(num) { %>
            <button type="button" class="btn tareButton" onclick="return false" value="<%= num.get('weight') %>"><%= num.get("name") %></button>
        <% }); %>
    </div>
</script>

<!-- Printable Page Template-->

<script type="text/template" id="printPageTemplate">
    <table class="table">
        <thead>
            <tr>
                <td>Coffee</td>
                <td>Green</td>
                <td>Roasted</td>
                <td>Total</td>
            </tr>
        </thead>
        <tbody>
        <% _.each(printCoffees.models, function(model) { %>
               <tr>
                   <td><%= model.get("name") %></td>
                   <td><%= model.get("greenWeight") %></td>
                   <td><%= model.get("roastedWeight") %></td>
                   <td><%= model.get("roastedWeight") %></td>
               </tr>
        <% }); %>
        </tbody>
        <tbody>
            <tr>
            <% var coffeeTotals = printCoffees.getTotal(); %>
                <td>Total:</td>
                <td><%= coffeeTotals.green %></td>
                <td><%= coffeeTotals.roasted %></td>
                <td><%= coffeeTotals.total %></td>
            </tr>   
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <td>Blend</td>
                <td>Weight</td>
            </tr>
        </thead>
        <tbody>
        <% _.each(printBlends.models, function(model) { %>
            <tr>
                <td><%= model.get("name") %></td>
                <td><%= model.get("weight") %></td>
            </tr>
        <% }); %>
        </tbody>
        <tbody>
            <tr>
                <td>Total:</td>
                <td><%= printBlends.getTotal() %></td>
            </tr>
        </tbody>
    </table>
</script>

<!-- Edit Inventory Items Template -->


<script type="text/template" id="editPanelTemplate">
<td colspan="4">
    <div class="container">
        <button type="button" class="btn btn-danger deleteModel">Delete</button>
        Name: <input type="text" class="editName" value="<%= editModel.get('name') %>" />
        <button type="button" class="btn updateModel">Update</button>
        <button type="button" class="btn cancelEdit">Cancel</button>
    </div>
</td>
</script>

<!-- placeholder template -->
<script type="text/template" id="placeHolderTemplate">
    <tr class="placeHolder">
        <td colspan="4">
            <div class="container text-center">
                <span class="glyphicon glyphicon-refresh"></span>
                <p>Loading...</p>
            </div>
        </td>
    </tr>   
</script>

