<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inventory Helper Practice</title>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" />
</head>
<body>
    <div class="Container">
        <!-- Nav Bar -->
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Inventory Helper</a>
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Inventory</a></li>
                <li><button type="button" class="btn" onclick="resetModels();">Edit Coffees</button></li>
                <li><button type="button" class="btn" onclick="router.navigate('test', {trigger: true});">Edit Containers</button></li>
                <li><a href="#">View Printable</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        
        <div class="viewOne">
        
        <script type="text/template" id="mainForm">
            <!-- Main View Template -->
            <form class="form-inline">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Coffee</td>
                            <td>Green</td>
                            <td>Roasted</td>
                            <td>Total</td>
                        </tr>
                    </thead>
                    <tbody class="viewModels">
                    </tbody>
                    <tbody>
                         <tr>
                            <td>Total:</td>
                            <td><span class="totalGreen">0.00</span></td>
                            <td><span class="totalRoasted">0.00</span></td>
                            <td><span class="total">0.00</span></td>
                        </tr>   
                    </tbody>
                </table>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Blend</td>
                            <td>Weight</td>
                        </tr>
                    </thead>
                    <tbody class="blendModels" data-bind="collection:$collection">
                    </tbody>
                    <tbody>
                        <tr>
                            <td>Total:</td>
                            <td><span class="blendTotal">0.00</span></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            </script>
            
        </div>
    </div>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="//cdn.jsdelivr.net/backbone.epoxy/1.2/backbone.epoxy.min.js"></script>
    
    <!-- Calculator Panel Template -->
    <script type="text/template" id="panelTemplate">
        <td colspan='4'>
            <div>
                Running Total: <span class='calcTotal'>0.00</span>
                <button type='button' class='btn addRow' onclick='return false'>New Row</button>
                <button type='button' class='btn done' onclick='return false'>Done</button> 
                <button type='button' class='btn cancel' onclick='return false'>Cancel</button>
            </div>
        </td>
    </script>
    
    <!-- Calculator Row Template -->
    
    <script type="text/template" id="calcTemplate">
        <div class="well container">
            <p><%= calcModel.get("name") %></p>
            <button type="button" class="btn btn-danger deleteRow" onclick="return false">Delete</button>
            <label>Gross Weight:</label>
            <input type="text" class="calcGross" size="8"/>
            <button type="button" class="btn btn-info clearTare" onclick="return false">No Tare</button>
            <% var contList = calcModel.get("containers");
            _.each(contList.models, function(num) { %>
                <button type="button" class="btn tareButton" onclick="return false" value="<%= num.get('weight') %>"><%= num.get("name") %></button>
            <% }); %>
        </div>
    </script>
    <script src="javascripts/global.js"></script>
    
</body>
</html>