
<!-- Main View Template -->
    
<script type="text/template" id="mainForm">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Single-Origin Coffees</h3>
            </div>
            <table class="table">
                <thead>
                    <tr class="text-muted">
                        <td>Coffee</td>
                        <td>Green</td>
                        <td>Roasted</td>
                        <td>Total</td>
                    </tr>
                </thead>
                <tbody class="viewModels">
                    <tr class="placeHolder">
                        <td colspan="4">
                            <div class="container text-center">
                                <span class="glyphicon glyphicon-refresh"></span>
                                <p>Loading...</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                     <tr>
                        <td>Total:</td>
                        <td><span class="totalGreen">0.00</span></td>
                        <td><span class="totalRoasted">0.00</span></td>
                        <td><span class="total">0.00</span></td>
                    </tr>   
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Blends</h3>
            </div>
            <table class="table">
                <thead>
                    <tr class="text-muted">
                        <td colspan="2">Blend</td>
                        <td colspan="2">Weight</td>
                    </tr>
                </thead>
                <tbody class="blendModels">
                    <tr class="placeHolder">
                        <td colspan="4">
                            <div class="container text-center">
                                <span class="glyphicon glyphicon-refresh"></span>
                                <p>Loading...</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td colspan="2">Total:</td>
                        <td colspan="2"><span class="blendTotal">0.00</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>

<!-- Calculator Panel Template -->

<script type="text/template" id="panelTemplate">
    <td colspan='4'>
        <div>
            <p class="lead">Running Total: <span class='calcTotal'>0.00</span></p>
            <button type='button' class='btn addRow' onclick='return false'>New Row</button>
            <button type='button' class='btn done' onclick='return false'>Done</button> 
            <button type='button' class='btn cancel' onclick='return false'>Cancel</button>
        </div>
    </td>
</script>

<!-- Coffee Row Template -->

<script type="text/template" id="coffeeRowTemplate">
    <td class="description">
        <%- model.get('name') %>
        <br />
        <small class="text-muted"><%- model.get('origin') %></small>
        <button type='button' class='btn btn-block edit' onclick='return false'><span class='glyphicon glyphicon-wrench'></span></button>
    </td>
    <td>
        <input type='text' class='form-control green' />
        <button type='button' class='btn btn-block calculate' value='green' onclick='return false'><span class='glyphicon glyphicon-plus'></span></button>
    </td>
    <td>
        <input type='text' class='form-control roasted' />
        <button type='button' class='btn btn-block calculate' value='roasted' onclick='return false'><span class='glyphicon glyphicon-plus'></span></button>
    </td>
    <td>
        <span class='rowTotal'></span>
    </td>  
</script>

<!-- Blend Row Template -->

<script type="text/template" id="blendRowTemplate">
    <td colspan='2'>
        <%-model.get('name') %>
        <br />
        <small class="text-muted"><%- model.get('origin') %></small>
        <button type='button' class='btn btn-block edit' onclick='return false'><span class='glyphicon glyphicon-wrench'></span></button>
    </td>
    <td colspan='2'>
        <input type='text' class='form-control blend' /><button type='button' class='btn btn-block calculate' value='blend' onclick='return false'><span class='glyphicon glyphicon-plus'></span></button>
    </td>
</script>

<!-- Calculator Row Template -->

<script type="text/template" id="calcTemplate">
    <form class="form-inline container-fluid well">
        <p><%- calcModel.get("name") %></p>
        <button type="button" class="btn btn-danger deleteRow" onclick="return false">Delete</button>
        <label>Gross Weight:</label>
        <input type="text" class="form-control calcGross" size="8"/>
        <button type="button" class="btn btn-info clearTare" onclick="return false">No Tare</button>
        <br />
        <% var contList = calcModel.get("containers");
        _.each(contList.models, function(num) { %>
            <button type="button" class="btn btn-default tareButton" onclick="return false" value="<%- num.get('weight') %>"><%- num.get("name") %></button>
        <% }); %>
    </form>
</script>

<!-- Printable Page Template-->

<script type="text/template" id="printPageTemplate">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Single-Origin Coffees</h3>
        </div>
        <table class="table">
            <thead>
                <tr class="text-muted">
                    <td>Coffee</td>
                    <td>Green</td>
                    <td>Roasted</td>
                    <td>Total</td>
                </tr>
            </thead>
            <tbody>
            <% _.each(printCoffees.models, function(model) { %>
                   <tr>
                       <td><%- model.get("name") %></td>
                       <td><%- model.get("greenWeight") %></td>
                       <td><%- model.get("roastedWeight") %></td>
                       <td><%- model.get("totalWeight") %></td>
                   </tr>
            <% }); %>
            </tbody>
            <tbody>
                <tr>
                <% var coffeeTotals = printCoffees.getTotal(); %>
                    <td>Total:</td>
                    <td><%- coffeeTotals.green %></td>
                    <td><%- coffeeTotals.roasted %></td>
                    <td><%- coffeeTotals.total %></td>
                </tr>   
            </tbody>
        </table>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Blends</h3>
            </div>
        <table class="table">
            <thead>
                <tr class="text-muted">
                    <td>Blend</td>
                    <td>Weight</td>
                </tr>
            </thead>
            <tbody>
            <% _.each(printBlends.models, function(model) { %>
                <tr>
                    <td><%- model.get("name") %></td>
                    <td><%- model.get("weight") %></td>
                </tr>
            <% }); %>
            </tbody>
            <tbody>
                <tr>
                    <td>Total:</td>
                    <td><%- printBlends.getTotal() %></td>
                </tr>
            </tbody>
        </table>
    </div>
</script>
    
<!-- Container List Template -->
<script type="text/temlate" id="containerPageTemplate">
    <div class="container">
        <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Containers</h3>
        </div>
        <table class="table">
            <thead>
                <tr class="text-muted">
                    <td colspan='2'>Container</td>
                    <td colspan='2'>Weight</td>
                </tr>
            </thead>
            <tbody class="containerTable">
            </tbody>
        </table>
        </div>
    </div>
</script>

<!-- Edit Inventory Items Template -->

<script type="text/template" id="editPanelTemplate">
    <td colspan="4">
        <div class="well">
            <form class="form-inline">
                <label>Name:</label> <input type="text" class="editName form-control" value="<%- editModel.get('name') %>" />
                <% if(typeof(isContainer) !== "undefined" && isContainer === true) { %>
                <label>Weight:</label> <input type="text" class="editWeight form-control" value="<%- editModel.get('weight') %>" />
                <% } else { %>
                <label>Origin:</label> <input type="text" class="editOrigin form-control" value="<%- editModel.get('origin') %>" />
                <% } %>
                <% if(typeof(editModel.collection) !== "undefined") { %>
                    <button type="button" class="btn btn-danger deleteModel">Delete</button>
                    <button type="button" class="btn btn-info updateModel">Update</button>
                    <button type="button" class="btn cancelEdit">Cancel</button>
                <% } else { %>
                    <button type="button" class="btn btn-primary updateModel">Create</button>
                    <button type="button" class="btn cancelCreation">Cancel</button>
                <% } %>
            </form>
        </div>
    </td>
</script>

<!-- placeholder template -->
<script type="text/template" id="placeHolderTemplate">
    <tr class="placeHolder">
        <td colspan="4">
            <div class="container text-center">
                <span class="glyphicon glyphicon-refresh"></span>
                <p>Loading...</p>
            </div>
        </td>
    </tr>   
</script>

<!-- delete inventory template -->
<script type="text/template" id="deletePageTemplate">
    <div class="container">
        <div class="jumbotron">
            <form action="/delete" method="post">
                <h2>Are you sure you want to delete this inventory? <small>This cannot be undone.</small></h2>
                <button type="submit" class="btn delete btn-lg btn-danger">Delete</button>
                <a href="#" class="btn home btn-lg btn-primary">Home</a>
                <input type="hidden" name="access_token" value="<%=token %>"</input>
            </form>
        </div>
    </div>
</script>
